debug.x1-x.com {
        log

        tls /etc/letsencrypt/live/x1-x.com/fullchain.pem /etc/letsencrypt/live/x1-x.com/privkey.pem

        header {
                -Server
                +X-Robots-Tag "noindex, nofollow, nosnippet, noarchive"
        }

        reverse_proxy localhost:8081 {
                header_up Host {host}
                header_up X-Real-IP {remote_host}
        }
}

x1-x.com, *.x1-x.com {
        log

        tls /etc/letsencrypt/live/x1-x.com/fullchain.pem /etc/letsencrypt/live/x1-x.com/privkey.pem

        header {
                -Server
                +X-Robots-Tag "noindex, nofollow, nosnippet, noarchive"
                +X-Content-Type-Options "nosniff"
        }

        reverse_proxy 127.0.0.1:58082 {
                header_up Host {host}
                header_up X-Real-IP {remote_host}
        }
}


# sudo apt update
# sudo apt install -y certbot
# sudo certbot certonly   --manual   --preferred-challenges dns   -d x1-x.com   -d "*.x1-x.com"
# cd cuddlephish
# sudo bash install_deps.sh
# sudo docker run -d   --name caddy   --network=host   -v ./Caddyfile:/etc/caddy/Caddyfile   -v /etc/letsencrypt:/etc/letsencrypt:ro   -v caddy_data:/data   -v caddy_config:/config   caddy