:80 {
        redir https://{host}{uri} permanent
}

:443 {
        log

        tls /etc/letsencrypt/live/x1-x.com/fullchain.pem /etc/letsencrypt/live/x1-x.com/privkey.pem

        header {
                -Server
                +X-Robots-Tag "noindex, nofollow, nosnippet, noarchive"
        }

        # Debug Server
        @debug host debug.x1-x.com
        handle @debug {
                header {
                        +Access-Control-Allow-Origin "*"
                        +Access-Control-Allow-Methods "GET, POST, OPTIONS, HEAD"
                        +Access-Control-Allow-Headers "Content-Type, Authorization"
                }
                @options method OPTIONS
                respond @options 204
                reverse_proxy debug-server:8081 {
                        header_up Host {host}
                        header_up X-Real-IP {remote_host}
                        header_down -Access-Control-Allow-Origin
                        header_down -Access-Control-Allow-Methods
                        header_down -Access-Control-Allow-Headers
                        header_down -Access-Control-Allow-Credentials
                }
        }

        # Pescador
        @pescador host pescador.x1-x.com *.pescador.x1-x.com
        handle @pescador {
                header {
                        +X-Content-Type-Options "nosniff"
                }
                reverse_proxy pescador:58082 {
                        header_up Host {host}
                        header_up X-Real-IP {remote_host}
                }
        }

        # Browser Front (default - x1-x.com y www)
        handle {
                header {
                        +X-Content-Type-Options "nosniff"
                }
                reverse_proxy browser-front:3001 {
                        header_up Host {host}
                        header_up X-Real-IP {remote_host}
                }
        }
}


# sudo apt update
# sudo apt install -y certbot
# sudo certbot certonly --manual --preferred-challenges dns -d x1-x.com -d "*.x1-x.com" -d "*.pescador.x1-x.com"
# cd cuddlephish
# sudo bash install_deps.sh
# sudo docker run -d --name caddy --network=host -v ./Caddyfile:/etc/caddy/Caddyfile -v /etc/letsencrypt:/etc/letsencrypt:ro -v caddy_data:/data -v caddy_config:/config caddy